 

@media screen and (min-width: 1200px) {}
@media screen and (min-width: 992px) {
    .container-home {  
        .single-meal {   
            *[class*='col'] { 
                padding-left: 0; 
                width: 100%;
            }
        } 
    }
}

@media screen and (max-width: 1200px) {
    .single-meal .img { 
        height: 200px;
    }
}

@media screen and (max-width: 992px) {
    .single-meal .img { 
        height: 400px;
    }
    .navbar { 
        height: 50px;
    }
    .search-header { 
       .search-form { 
           max-width: 400px;
           margin-left: auto;
           margin-right: auto;
           margin-top: 30px;
            input { 
                max-width: none;
            }
       }
    }
    .container-home {
        &-wrapper { 
            margin-bottom: 15px;
        }
    }
}
 
@media screen and (max-width: 767px) {}
@media screen and (max-width: 576px) {

    .w-400  { 
        display: block;
        width: 100%;
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .container-styled { 
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        margin-top: 0;
        h3 { 
            font-size: 20px;
            line-height: 20px;
        }
        .row { 
            margin-left: 0;
            margin-right: 0;
        }
    }
    .single-meal {  
        .img { 
            width: 100%;
            height: 300px;
        }
        h4 { 
            font-size: 24px;
            line-height: 26px;
            margin-bottom: 20px;
        }
        .link { 
            font-size: 14px;
        }
    }
    .container-home {
        &-wrapper { 
            border: 0;
            margin-bottom: 0;
        }
        .item { 
            margin-top: 15px;
            border-left: 0;
            border-right: 0;
            border-bottom: 0;
            padding-right: 50px;
            padding-left: 50px;
            text-align: center;
            ol { 
                padding-left: 0 !important;
            }
        }
        .single-meal { 
            text-align: center;
            align-items: center;
            .img { 
                height: 80vw;
                max-width: 90vw;
                width: 80vw;
                left: calc( 50% - 40vw)
            }
            h4 {
                padding-top: 0;
                margin-top: 82vw;
                padding-right: 10px;
            } 
            .btn-favorite { 
                margin-top: 82vw;
                max-height: 35px;
                min-width: 35px; 
            } 
        }
    }
    .container-category { 
        padding-top: 15px;
        padding-bottom: 15px;
        flex-direction: column;
        align-items: center;
        .text-cont {  
            h5 {  
                font-size: 15px;
                line-height: 16px;  
                margin-bottom: 0; 
                margin-top: 5px;
                text-align: center;

            }
            p {  
                display: none;
            }
        }
    }
    .container-areas { 
        ol { 
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    } 
    .container-meals { 
        padding: 0;
        &:hover { 
            background: #fff;
        }
        .text-cont { 
            h5 { 
                font-size: 14px;
                margin: 5px 0 10px 0;
            }
        }
       
    }
} 
   
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)  {}